@model KitapTakipSistemi.DAL.Kitap

@{
    ViewBag.Title = "Kitap Detayları";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">@Model.Ad</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="@Url.Content(Model.FotoUrl ?? "~/Content/KitapFotograflari/varsayilan.jpg")"
                             class="img-fluid rounded shadow-sm"
                             alt="Kitap Fotoğrafı" />
                    </div>
                    <div class="col-md-8">
                        <table class="table table-bordered">
                            <tr><th>Yazar</th><td>@Model.Yazar</td></tr>
                            <tr><th>Yayın Yılı</th><td>@Model.YayinYili</td></tr>
                            <tr><th>Tür</th><td>@Model.Tur.Ad</td></tr>
                            <tr><th>Stok</th><td>@Model.Stok</td></tr>
                        </table>
                        <p>
                            @Html.ActionLink("Geri", "Index", null, new { @class = "btn btn-secondary me-2" })
                            @Html.ActionLink("Düzenle", "Edit", new { id = Model.KitapId }, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
